In [37]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing

In [2]:
train = pd.read_csv('./train.csv')
tets = pd.read_csv('./test.csv')

In [3]:
print(list(train))

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [36]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [35]:
train['Age'] = train['Age'].fillna(train['Age'].median())

In [30]:
ticket_map = preprocessing.LabelEncoder()
ticket_map.fit(train.values[:,8])

LabelEncoder()

In [28]:
sex_map = preprocessing.LabelEncoder()
sex_map.fit(train.values[:,4])

LabelEncoder()

In [31]:
cabi_map = preprocessing.LabelEncoder()
cabi_map.fit(train.values[:,10])

TypeError: '<' not supported between instances of 'str' and 'float'